<!DOCTYPE html>
<html lang="en">


<%- include ('../partials/head.ejs') %>

<body id="finaldesign">
    <%- include ('../partials/nav.ejs') %>
    <section>
        <h1>Your custom nerdy T-shirt</h1>
    </section>
    <div class="shirteditor">
        <aside>
            <section>
                <% if(queries.textColor == "#fff") { %>
                <h2 id=textCanvas style="color:#fff;">

                    <%= queries.shirtText %>

                </h2>
                <% } else  { %>
                <h2 id=textCanvas style="color:#000;">

                    <%= queries.shirtText %>

                </h2>
                <% } %>



                <% if(queries.shirtColor == "yellowshirt") { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/yellowshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "redshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/redshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "blueshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/blueshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "blackshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/blackshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "grayshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/grayshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "purpleshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/purpleshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "orangeshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/orangeshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "pinkshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/pinkshirt.jpg" alt="shirt canvas">

                <% } else if(queries.shirtColor == "greenshirt")  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/greenshirt.jpg" alt="shirt canvas">

                <% } else  { %>
                <img id='shirtcanvas' src="../source/pictures/shirts/whiteshirt.jpg" alt="shirt canvas">
                <% } %>



            </section>
        </aside>

        <main>
            <section>
                <ul>
                    <li>
                        <h3>Custom text</h3>
                        <p><%= queries.shirtText %></p>
                    </li>

                    <li>
                        <h3>Selected font</h3>
                        <p></p>

                        <% if(queries.textFont == "Streamstar") { %>
                        <p style="font-family: Streamster;">Streamster</p>
                        <script>
                            document.getElementById('textCanvas').style.fontFamily = ('Streamster')
                        </script>

                        <% } else if(queries.textFont == "Nixies") { %>
                        <p style="font-family: Nixies;">Nixies</p>
                        <script>
                            document.getElementById('textCanvas').style.fontFamily = ('Nixies')
                        </script>

                        <% } else  { %>
                        Default Font
                        <script>
                            document.getElementById('textCanvas').style.fontFamily = ('Raleway')
                        </script>
                        <% } %>
                    </li>

                    <li>
                        <h3>Selected text color</h3>


                        <% if(queries.textColor == "#fff") { %>
                        <p>Mr.White</p>
                        <% } else  { %>
                        <p>Soul Black</p>
                        <% } %>
                    </li>

                    <li>
                        <h3>Selected shirt color</h3>



                        <% if(queries.shirtColor == "blackshirt") { %>
                        <p>Soul Black</p>
                        <% } else if(queries.shirtColor == "grayshirt")  { %>
                        <p>Gray like granny</p>
                        <% } else if(queries.shirtColor == "greenshirt")  { %>
                        <p>Mike Wazowski Green</p>
                        <% } else if(queries.shirtColor == "purpleshirt")  { %>
                        <p>Mace Windu Purple</p>
                        <% } else if(queries.shirtColor == "orangeshirt")  { %>
                        <p>Mad for Mango Orange</p>
                        <% } else if(queries.shirtColor == "pinkshirt")  { %>
                        <p>LGBTQLMNO-Pink</p>
                        <% } else if(queries.shirtColor == "yellowshirt")  { %>
                        <p> Super Saiyan Yellow</p>
                        <% } else if(queries.shirtColor == "redshirt")  { %>
                        <p>Brutal Doom Red</p>
                        <% } else if(queries.shirtColor == "blueshirt")  { %>
                        <p>Blue (DA BA DEE)</p>
                        <% } else  { %>
                        <p>Mr.White</p>
                        <% } %>
                    </li>
                </ul>



            </section>
        </main>

    </div>
    <div>

      </div>
    <div class="settings">
       
            <button id="printsheet">Print</button>
           
            
            
    </div>
    
    <script src="js/printscript.js"></script>
  

     
</script>
</body>


</html>
